div{

    padding: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: rebeccapurple;
    background-color: gray;
    height: 40px;


} 

li {
    float: left;
    padding-left: 5px;
    list-style-type: none;
    
}